h1 {
  color: #2C96DD;
  border-bottom: 1px dashed #2C96DD;
  text-transform: uppercase;
  font-weight: lighter;
}

body {
  font-family: "Arial", "Helvetica", "sans-serif";
  margin: 50px;
  color: #797979;
}

.date {
  color: #C3C3C3;
}
